<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-slm-camera"
        version="1.0.0">

    <name>SLM Camera</name>
    <description>Captura de fotos con camara y seleccion desde galeria (PHPicker/CameraX)</description>
    <license>MIT</license>
    <keywords>camera,photo,gallery,picker,image</keywords>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <js-module src="www/SLMCamera.js" name="SLMCamera">
        <clobbers target="SLMCamera" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SLMCamera">
                <param name="ios-package" value="SLMCamera" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Necesitamos acceso a la camara para tomar fotos.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Necesitamos acceso a la galeria para seleccionar fotos.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>Necesitamos acceso para guardar fotos en la galeria.</string>
        </config-file>

        <source-file src="src/ios/SLMCamera.swift" />

        <framework src="AVFoundation.framework" />
        <framework src="Photos.framework" />
        <framework src="PhotosUI.framework" />

        <preference name="SWIFTVERSION" default="5.0" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SLMCamera">
                <param name="android-package" value="com.slm.camera.SLMCamera" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.slm.camera.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/slm_camera_paths" />
            </provider>
        </config-file>

        <source-file src="src/android/SLMCamera.java" target-dir="src/com/slm/camera" />
        <resource-file src="src/android/res/xml/slm_camera_paths.xml" target="res/xml/slm_camera_paths.xml" />

        <framework src="androidx.exifinterface:exifinterface:1.3.7" />
    </platform>

</plugin>
